/*body {
    margin: 0;
    padding: 0;
}*/

#headerContainer {
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    
}

#QandAContainer {
    margin-top: 60px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.page-header {
    padding: 0;
    margin: 0;
    background: darkred;
}

#fabgrad {
    color: white;
    display: inline-block;
    margin: 12px 10px;
}

#addQandABox {
    display: inline-block;
    -webkit-border-radius: 10px;
    font-weight: 500;
    margin:0 0 10px 30px;
}

#headerQandA {
    position: relative;
    color: white;
    display: inline-block;
    float: right;
    margin: 20px;
}

.box {
    position: relative;
    background: #eee;
    border: solid 1px #aaa;
    margin: 10px auto;
}

.glyphicon-remove {
    position: relative;
    display: inline-block;
    /*float: right;*/
    margin: 5px 0;
    padding: 5px;
    background: #aaa;
}

.glyphicon-remove:hover {
    cursor: pointer;
    border: solid 1px #aaa;
    background: red;
    color: #fff;
    -webkit-border-radius: 3px;
}

.rendererBox {
    display: block;
}

.explanationRenderer {
    display: none;
}

.questionContent {
    margin: 10px 0;
    padding: 5px 10px;
    background: #fff;
    -webkit-border-radius: 10px;
    
}

.questionRenderer {
    font-size: 20px;
    font-weight: bold;
}

.answerRenderer {
    font-size: 16px;
    
}

.explanationRenderer {
    font-size: 16px;
    margin-top: 0;
}

.questionContent:hover {
    border: solid 1px #111;
}

.lblquestionId {
    display: inline-block;
    margin: 0 95% 0 5px;
    
}

.questionContent strong:hover {
    cursor: pointer;
}

.iconAdd {
    font-size: 20px;
}

#editArea {
    display: block;
    margin: 5px;
}

.btn {
    margin: 10px 0;
}

.btnSolution {
    margin-top: 0;   
}



.btnSubmitTags {
    display: inline-block;
}
