body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.page-header {
    padding: 0;
    margin: 0;
    background: darkred;
}

#fabgrad {
    color: white;
    display: inline-block;
    margin: 12px 10px;
}

#addQandABox {
    display: inline-block;
    -webkit-border-radius: 10px;
    font-weight: 500;
    margin:0 0 10px 30px;
}

#headerQandA {
    color: white;
    display: inline-block;
    float: right;
    margin: 12px 10px;
}

.box {
    position: relative;
    background: grey;
    border: solid 1px #aaa;
    margin: 10px auto;
}

.glyphicon-remove {
    display: inline-block;
    float: right;
    margin: 5px 0;
    padding: 5px;
    background: #aaa;
}

.glyphicon-remove:hover {
    cursor: pointer;
    border: solid 1px #aaa;
    background: red;
    color: #fff;
    -webkit-border-radius: 3px;
}

.rendererBox {
    display: block;
}
.questionContent {
    margin: 10px 0;
    padding: 5px;
    background: #fff;
    /*-webkit-border-radius: 10px;*/
    font-size: 18px;
}

.questionContent:hover {
    border: solid 1px #aaa;
}

.questionContent strong:hover {
    cursor: pointer;
}

.iconAdd {
    font-size: 28px;
}

#editArea {
    display: block;
    margin: 5px;
}

.btn {
    margin: 10px 0;
}